<!DOCTYPE html>
<html>
  <head>
    <title>Hello world</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
  </head>
  <body>
      <span class="fname"><%= @fname %></span>
   	<br>
      <span class="city"><%= @city %>,</span>
   	<span class="state"><%= @state %></span>
	<p><%= @failure %></p>
  </body>
</html>