<html>
	<head>
    <title>Taxes</title>
		<link rel="stylesheet" type="text/css" href="/css/taxes.css" media="all">
	</head>
	<body>
    <h1>Tax Preperation</h1>
    <form>
      <b>First name:</b> <input type="text" name="fname"/><br>
      <b>Last name:</b> <input type="text" name="lname"/><br>
      <b>City::</b> <input type="text" name="city"/><br>
      <b>State:</b> <input type="text" name="state"/><br>
      <input type="submit"/>
    </form>
	</body>
</html>